@model TechJobsPersistent.ViewModels.AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
        <label asp-for="Id">Employers</label>
        <input class="form-control" />
        <span></span>
        <a asp-controller="Employer" asp-action="Add">Add additional employers</a>
    </div>
    <input type="submit" value="Add Job" />
</form>


