@model TechJobsPersistent.ViewModels.AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
        <label asp-for="Id">Employers</label>
        <input class="form-control" />
        <span></span>

        @*THIS IS WHERE I LOST THE PLOT!*@

        <a asp-controller="Employer" asp-action="Add" method="post">Add additional employers</a>

    </div>
    <input type="submit" value="Add Job" />
</form>



<form asp-controller="Employer" asp-action="About" asp-route-id="Employer.id">
